<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Vue.js</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
    <div id="app-vue">
    	<div class="col-sm-6">
    	    <br>
    	    <h4 v-if="tasks.length > 0">Agregar Tarea</h4>
    	    <h4 v-else="tasks">Agregar una Tarea</h4>
    		<input type="text" class="form-control" name="newtask" v-model="newtask" v-on:keyup.enter="addTask">
    		<hr>
    		<h5>Total: <span>{{alltask}}</span></h5>
    		<h5>Pendiente: <span>{{remaining}}</span></h5>
    		<h5>Completadas: <span>{{completed}}</span></h5>
    		<hr>
    		<pre>{{$data}}</pre>
    	</div>

    	<div class="col-sm-6">
    	 <br>
         <ul class="list-group">
            <h4 v-if="tasks.length > 0">Listado de Tarea</h4>
    	    <h4 v-else="tasks">No hay tareas agregadas</h4>
         	<li class="list-group-item" v-for="item in tasks" v-bind:class="item.completed == true ? 'disabled' : ''" v-on:click="item.completed = ! item.completed" >
         		{{ item.name }}
         	</li>
         </ul>
    	</div>

    	
    </div>



	<script src="vue.js"></script>
    <script type="text/javascript">
        var filters = {
		  all: function (todos) {
		    return todos
		  },
		  active: function (todos) {
		    return todos.filter(function (todo) {
		      return !todo.completed
		    })
		  },
		  completed: function (todos) {
		    return todos.filter(function (todo) {
		      return todo.completed
		    })
		  }
		}
    	new Vue({
    		el: '#app-vue',
    		data:{
    			tasks:[
    				/*{name:'Desarrollo de aplicacion escolar', completed:false},
    				{name:'Sitio Web 5k', completed:false},*/
    			],
    			newtask:'',
    		},
    		methods:{
    			addTask:function(){
    				this.tasks.push({name:this.newtask,completed:false});
    				this.newtask='';
    			}
    		},    		
    		computed: {
    			alltask: function () {
			      return filters.all(this.tasks).length
			    },
			    remaining: function () {
			      return filters.active(this.tasks).length
			    },
			    completed:function () {
			      return filters.completed(this.tasks).length
			    }
			}
			    
    	})
    </script>
</body>
</html>